table {
    margin-top: 30px;
    border-collapse: collapse; /* Об'єднання меж клітинок таблиці */
    width: 100%;
    text-align: center;
  }
  th{
    background-color:black;
    color: #fff;
    flex: 33%;
  }
  th, td {

    border: 1px solid black; /* Товщина, тип та колір межі */
    padding: 8px; /* Відступ всередині клітинки */
    text-align: center; /* Вирівнювання тексту */
  }
  .transactionHistoryTable{
text-align: center;
  }